<div class="nav-bar-mobile">
    <i class="fas fa-gem"></i>
    <i class="fas fa-bars" id="openMobileMenu"></i>
    <div class="nav-mobile">
        <i class="fas fa-window-close" id="closeMobileMenu"></i>
        <ul>
            <li><a href="home">Home</a>
            <li><a href="portfolio">Portfolio</a>
            <!--<li><a href="about">About</a></li>-->
            <!--<li><a href="contact">Contact</a></li>-->         
        </ul>
        <div class="mobile-socials">
            <a href="mailto:jakubednarz1@gmail.com"><i class="fas fa-envelope"></i></a>
            <a href="tel:07840823939"><i class="fas fa-mobile-alt"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>
</div>
<div class="nav-bar">
    <div class="nav-socials">
        <a href="mailto:jakubednarz1@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="tel:07840823939"><i class="fas fa-mobile-alt"></i></a>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
    </div>
    <i class="fas fa-gem"></i>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <!--<li><a href="about">About</a></li>-->
        <!--<li><a href="contact">Contact</a></li>-->
    </ul>
</div>