<div class="img-bg">
    <img src="images/home-bg.jpg" alt="#">
    <div class="img-bg-text">
        <h1>jakub bednarz.</h1>
        <p>Providing quality and uniquely built websites</p>
    </div>
</div>
<div class="intro">
    <div class="text">
        <hr>
        <p>Hey! I am an aspiring website developer, specializing in both the front-end and the back-end, ensuring that your website will look perfect, and it's server side will be organized too. Both are my strong points, so by choosing me you will be a step ahead of your competition with features such as; dynamic pdf download, sending emails to users, having an online shop with a working payment system, and many more.</p>
        <hr>
    </div>
</div>
<div class="info-container">
    <div class="img-container">
        <img src="images/me.jpg" alt="#">
    </div>
    <p><i class="fas fa-quote-left"></i>Being passionate about your work is the only way for you to excel more than others<i class="fas fa-quote-right"></i></p>
    <div class="diag"></div>
</div>
<div class="skills-container">
    <h1>My Skills.</h1>
    <div class="skills-wrapper">
        <div><i class="fab fa-html5" style="color: #f06529;"></i><p>HTML 5</p></div>
        <div><i class="fab fa-css3-alt" style="color: #264de4;"></i><p>CSS 3</p></div>
        <div><i class="fab fa-js" style="color: #f0db4f;"></i><p>JavaScript</p></div>
        <div><i class="fab fa-node" style="color: #3c873a;"></i><p>NodeJS & Express.js</p></div>
        <div><img src="https://img.icons8.com/color/96/000000/mongodb.png"/><p>MongoDB</p></div>
        <div><i class="fab fa-java" style="color: #fff;"></i><p>Java</p></div>
        <div><img src="https://img.icons8.com/fluent/96/000000/adobe-photoshop.png"/><p>Photoshop</p></div>
    </div>
</div>
<script src="js/home.js"></script>