<h1>Portfolio</h1>
<div class="website-div">
    <h2>Quality Auto Services</h2>
    <embed src="https://www.qualityautoservices.co.uk/" style="width:90vw; height: 60vh">
</div>
<div class="website-div">
    <h2>Spigot minecraft plugins (Java) One of which has over 8,000 downloads.</h2>
    <a href="https://www.spigotmc.org/resources/authors/realfirstix.853828/" target="_blank">Link to my spigot page.</a>
</div>